@layer components {
  .info-line {
    position: relative;
  }
  .info-line::after {
    content: "";
    position: absolute;
    width: 1px;
    left: 30%;
    bottom: 50%;
    transform: translateY(50%);
    height: calc(100% + 30px);
    background-color: #00000040;
  }
  .dropDown-border::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.12);
  }
}
