@import "tailwindcss";

/* font dana */
@font-face {
  font-family: dana-regular;
  src: url(/fonts/Dana/woff2/DanaFaNum-Regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: dana-medium;
  src: url(/fonts/Dana/woff2/DanaFaNum-Medium.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: dana-semiBold;
  src: url(/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2) format("woff2");
  font-display: swap;
}
/* font morabba */
@font-face {
  font-family: morabba-light;
  src: url(/fonts/Morabba/woff2/Morabba-light.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: morabba-medium;
  src: url(/fonts/Morabba/woff2/Morabba-Medium.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: morabba-bold;
  src: url(/fonts/Morabba/woff2/Morabba-Bold.woff2) format("woff2");
  font-display: swap;
}

@theme {
  /* colors */
  --color-primary: #00b3c7;
  --color-secondary: #ff7a59;
  --color-background: #f5f5f5;
  --color-dark: #282828;
  --color-muted: #555555;
  --color-header: #f9f9f9;
  /* fonts */
  --font-dana-regular: "dana-regular";
  --font-dana-medium: "dana-medium";
  --font-dana-semiBold: "dana-semiBold";
  --font-morabba-light: "morabba-light";
  --font-morabba-medium: "morabba-medium";
  --font-morabba-bold: "morabba-bold";
  /* continaer */
  --breakpoint-*: initial;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.box {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}
.modal-animation {
  animation: dropIn 0.5s ease-out forwards;
}
@keyframes dropIn {
  0% {
    opacity: 0.3;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.spinner {
  border: 4px solid;
  border-color: #00b3c7 transparent transparent #00b3c7;
  border-radius: 50%;
  animation: spin 1s ease-out infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
