@layer utilities {
  .card-image {
    outline: calc(160px / 2) solid rgba(0, 0, 0, 0.329);
    outline-offset: calc(160px / -2);
    border-radius: 12px 12px 0 0px;
    cursor: pointer;
    transition: 0.3s;
  }
  .card-image:hover {
    outline: 3px solid var(--primary);
    outline-offset: -3px;
  }
  @media only screen and (max-width: 48rem) {
    .card-image {
      outline: none;
      outline-offset: none;
      border-radius: 0;
      cursor: default;
    }
    .card-image:hover {
      outline: none;
      outline-offset: none;
    }
  }
}
